.advantages{
    background: #f6f6f6;
    min-height: 470px;
    padding: 70px 0 78px 0;
    &__section-header {
        text-align: center;
    }
    &__icons {
        margin-top: 65px;
    }
    .animated-heart {
        animation: heartbeat 1.5s ease infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
}
